/*--------------------------*\
        MEDIA QUERIES
\*--------------------------*/

@mixin media($breakpoint) {
    // MOBILE
    @if $breakpoint == 'sm' {
        @media (min-width: 300px) {
            @content;
        }
    }

    // TABLET
    @if $breakpoint == 'md' {
        @media (min-width: 768px) {
            @content;
        }
    }

    // DESKTOP
    @if $breakpoint == 'lg' {
        @media (min-width: 1025px) {
            @content;
        }
    }
}

@mixin flex(
    $justify-content,
    $align-items,
    $direction: row,
    $gap: 0,
    $wrap: nowrap
) {
    display: flex;
    flex-direction: $direction;
    justify-content: $justify-content;
    align-items: $align-items;
    flex-wrap: $wrap;
    gap: $gap;
}

@mixin hover-primary {
    filter: brightness(0.8);
}
