/*--------------------------*\
        MEDIA QUERIES
\*--------------------------*/
$breakpoints: (
    'sm': 300px,
    'md': 768px,
    'lg': 1025px,
);

@mixin media($breakpoint) {
    @each $bp, $size in $breakpoints {
        @if $breakpoint == $bp {
            @media (min-width: $size) {
                @content;
            }
        }
    }
}

@mixin flex(
    $justify-content,
    $align-items,
    $direction: row,
    $gap: 0,
    $wrap: nowrap
) {
    display: flex;
    flex-direction: $direction;
    justify-content: $justify-content;
    align-items: $align-items;
    flex-wrap: $wrap;
    gap: $gap;
}

@mixin hover-primary {
    filter: brightness(0.8);
}
