/*--------------------------*\
        COLORS
\*--------------------------*/

$color-white: #fff;
$color-black: #191825;

$color-light: #eee;
$color-dark: #222831;
$color-dark-2: #0000001a;

$color-primary: #5d50c6;
$color-primary-dark: #3c1e9e;
$color-secondary: #f85e9f;
$color-orange: #ff5722;
$color-yellow-light: #facd4914;
$color-yellow: #facd49;

$color-grey-4: #1918251a;
$color-grey-3: #00000012;
$color-grey-2: #19182580;
$color-grey: #191825bf;
$color-grey-light: #e5e5e5;

/*--------------------------*\
        SHADOWS
\*--------------------------*/

$shadow-1: 0 4.1rem 8.9rem 0 $color-dark-2;
$shadow-2: 0 0.5rem 11rem 0 $color-dark-2;
$shadow-3: 0 3.4rem 7.5rem $color-grey-3;

/*--------------------------*\
        TYPOGRAPHY
\*--------------------------*/

$font-family-primary: Roboto, sans-serif;

$font-weight-lg: 700;
$font-weight-md: 400;

$line-height-lg: 160%;
$line-height-md: 150%;
$line-height-sm: 120%;

$letter-spacing-2xl: 5px;
$letter-spacing-xl: 3px;
$letter-spacing-lg: 1.6px;
$letter-spacing-md: 1px;
$letter-spacing-sm: 0.5px;
$letter-spacing-xs: 0.4px;
$letter-spacing-xxs: 0.2px;

/*--------------------------*\
        GRID
\*--------------------------*/

$gutter-sm: 1.6rem;
$gutter: 3.2rem;
$gutter-y: 1.6rem;
$gutter-x: 3.2rem;
$gutter-x-sm: 1.6rem;

/*--------------------------*\
        TRANSITIONS
\*--------------------------*/

$duration-sm: 0.2s;

/*--------------------------*\
        BORDERS
\*--------------------------*/

$border-radius-lg: 10rem;
$border-radius-sm: 3.2rem;

/*--------------------------*\
        Z-INDEX
\*--------------------------*/

$z-100: 100;
$z-200: 200;
