@use '../abstracts/variables';
@use '../abstracts/mixins';

.header {
    box-sizing: border-box;
    max-width: 139rem;
    padding: 3.5rem 1.6rem;
    position: relative;
    @include mixins.flex(space-between, start);

    @include mixins.media('md') {
        padding: 3.2rem 6.4rem 3.8rem;
        margin: 0;
    }

    @include mixins.media('lg') {
        margin: 0 auto;
        padding: 6.4rem 7rem 4rem 12.5rem;
    }

    &__nav {
        z-index: 100;
        position: absolute;
        top: 12rem;
        width: 100%;
        left: 0;
        padding: 5rem 0;
        font-size: variables.$font-size-lg;
        height: 77vh;
        transform-origin: top;
        transform: scaleY(0);
        background-color: variables.$color-white;
        align-self: center;
        @include mixins.flex(space-between, stretch, column);

        @include mixins.media('lg') {
            top: 0;
            width: auto;
            padding: 0;
            position: relative;
            display: block;
            height: auto;
            font-size: variables.$font-size-sm;
            transform: scaleY(1);
        }
    }

    &__list {
        padding: 0;
        margin: 0;
        @include mixins.flex(space-between, center, column, 4rem);

        @include mixins.media('lg') {
            @include mixins.flex(space-between, stretch, row, 0);
        }
    }

    &__list-item {
        white-space: nowrap;

        @include mixins.media('lg') {
            &:not(:last-of-type) {
                margin-right: 6.5rem;
            }
        }
    }

    // CTA for sm-screen
    &__cta-sm {
        @include mixins.flex(flex-start, center, column, 2rem);

        @include mixins.media('md') {
            display: none;
        }

        @include mixins.media('lg') {
            display: none;
        }
    }

    // CTA for md and lg screen
    &__cta {
        display: none;

        @include mixins.media('md') {
            display: flex;
            order: 2;
        }

        @include mixins.media('lg') {
            display: flex;
            order: 2;
        }
    }

    &__menu {
        background-color: transparent;
        outline: none;
        font-size: variables.$font-size-xl;
        color: variables.$color-primary;
        padding: 0.4rem;
        border: none;
        transition: filter variables.$duration-sm;

        &:hover,
        &:focus {
            @include mixins.hover-primary;
        }

        @include mixins.media('md') {
            order: 0;
        }

        @include mixins.media('lg') {
            display: none;
        }
    }
}
