.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 3.2rem 10rem 12rem 15rem;
    padding: 3.2rem 0 3rem 0;

    @include media('md') {
        padding: 3.2rem 6.4rem;
        margin: 0;
    }

    @include media('sm') {
        padding: 3.5rem 1.6rem;
    }

    &__nav {
        // CSS to change the position of modal on md-screen
        @include media('md') {
            position: absolute;
            top: 10rem;
            left: 6.4rem;
            right: 60%;
            z-index: -1;
            border-radius: 8px;
            outline: 1px solid $color-grey-light;

            transform-origin: top;
            transform: scaleY(0);
        }

        // CSS to change the position of modal on sm-screen
        @include media('sm') {
            left: 60%;
            right: 2rem;
        }
    }

    &__list {
        padding: 0;
        display: flex;
        font-size: 1.4rem;
        width: 42.8rem;
        justify-content: space-between;

        @include media('md') {
            width: 100%;
            display: block;
            padding: 0.5rem 2rem;
        }
    }

    &__list-item {
        &:not(:last-child) {
            @include media('md') {
                margin-bottom: 1rem;
            }
        }
    }

    // CTA for sm-screen
    &__cta-sm {
        display: none;

        @include media('sm') {
            display: flex;
            flex-direction: column;
            align-items: start;
        }

        * {
            color: $color-primary;
            margin-bottom: 1rem;
            font-weight: 700;
        }
    }

    // CTA for md and lg screen
    &__cta {
        display: flex;
        order: 2;

        @include media('sm') {
            display: none;
        }
    }

    &__menu {
        display: none;

        @include media('md') {
            display: block;
            font-size: 4rem;
            padding: 0.4rem;
        }
    }
}
