@use '../abstracts/mixins';
@use '../abstracts/variables';

.testimonials {
    margin-top: 6.8rem;
    position: relative;
    padding-bottom: 12rem;
    max-width: 144rem;
    z-index: variables.$z-200;

    @include mixins.media('md') {
        padding-top: 6rem;
    }

    @include mixins.media('lg') {
        margin: 0 auto;
        padding-top: 7rem;
    }

    &::before {
        @include mixins.media('lg') {
            content: '';
            width: 100%;
            height: 100%;
            position: absolute;
            bottom: 12rem;
            z-index: variables.$z-100;
            opacity: 0.1;
            background: url('/assets/Vector.png') no-repeat center 0;
        }
    }

    &__head-text {
        text-align: center;
    }

    &__pagination-item {
        line-height: 0;
        padding: 0;
    }

    &__pagination {
        margin-top: 6.4rem;
        @include mixins.flex(center, center, row, 2.4rem);

        @include mixins.media('md') {
            margin-top: 5.5rem;
        }

        &-button {
            width: 2.4rem;
            height: 2.4rem;
            padding: 0;
            margin: 0;
            border: none;
            border-radius: 50%;

            &[aria-selected='true'] {
                background-color: variables.$color-secondary;
            }
        }
    }

    &__arrows {
        box-sizing: border-box;
        font-size: 0.8rem;
        width: 100%;
        display: flex;
        justify-content: space-between;
        position: absolute;
        top: 64rem;
        padding: 0 1.5rem;
        z-index: variables.$z-200;

        @include mixins.media('md') {
            font-size: 1.2rem;
            top: 34%;
            padding: 0 6.4rem;
        }

        @include mixins.media('lg') {
            top: 32%;
            padding: 0 12rem;
        }
    }

    &__arrow-button {
        width: 6.4rem;
        height: 6.4rem;
        border-radius: 50%;
        font-weight: variables.$font-weight-lg;
        background-color: variables.$color-primary;
        color: variables.$color-white;
        border: none;

        @include mixins.media('md') {
            width: 10rem;
            height: 10rem;
        }

        &:disabled {
            background-color: variables.$color-white;
            color: variables.$color-black;
            outline: 1px solid variables.$color-grey-4;
            cursor: not-allowed;
        }
    }
}
