@font-face {
    font-family: 'icomoon';
    src: url('./icomoon.eot?qipn02');
    src:
        url('./icomoon.eot?qipn02#iefix') format('embedded-opentype'),
        url('./icomoon.ttf?qipn02') format('truetype'),
        url('./icomoon.woff?qipn02') format('woff'),
        url('./icomoon.svg?qipn02#icomoon') format('svg');
    font-weight: normal;
    font-style: normal;
    font-display: block;
}

[class^='icon-'],
[class*=' icon-'] {
    /* use !important to prevent issues with browser extensions that change fonts */
    font-family: 'icomoon' !important;
    speak: never;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;

    /* Better Font Rendering =========== */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.icon-airbnb:before {
    content: '\e900';
}
.icon-booking:before {
    content: '\e901';
}
.icon-bookingcom:before {
    content: '\e902';
}
.icon-calendar:before {
    content: '\e903';
    color: #fff;
}
.icon-destination:before {
    content: '\e904';
}
.icon-envelope:before {
    content: '\e905';
}
.icon-expedia .path1:before {
    content: '\e906';
    color: rgb(25, 24, 37);
    opacity: 0.5;
}
.icon-expedia .path2:before {
    content: '\e907';
    margin-left: -3.4541015625em;
    color: rgb(25, 24, 37);
    opacity: 0.5;
}
.icon-expedia .path3:before {
    content: '\e908';
    margin-left: -3.4541015625em;
    color: rgb(25, 24, 37);
    opacity: 0.5;
}
.icon-expedia .path4:before {
    content: '\e909';
    margin-left: -3.4541015625em;
    color: rgb(25, 24, 37);
    opacity: 0.5;
}
.icon-expedia .path5:before {
    content: '\e90a';
    margin-left: -3.4541015625em;
    color: rgb(25, 24, 37);
    opacity: 0.5;
}
.icon-expedia .path6:before {
    content: '\e90b';
    margin-left: -3.4541015625em;
    color: rgb(25, 24, 37);
    opacity: 0.5;
}
.icon-expedia .path7:before {
    content: '\e90c';
    margin-left: -3.4541015625em;
    color: rgb(25, 24, 37);
    opacity: 0.5;
}
.icon-expedia .path8:before {
    content: '\e90d';
    margin-left: -3.4541015625em;
    color: rgb(25, 24, 37);
    opacity: 0.5;
}
.icon-expedia .path9:before {
    content: '\e90e';
    margin-left: -3.4541015625em;
    color: rgb(25, 24, 37);
    opacity: 0.5;
}
.icon-expedia .path10:before {
    content: '\e90f';
    margin-left: -3.4541015625em;
    color: rgb(25, 24, 37);
    opacity: 0.5;
}
.icon-expedia .path11:before {
    content: '\e910';
    margin-left: -3.4541015625em;
    color: rgb(25, 24, 37);
    opacity: 0.5;
}
.icon-expedia .path12:before {
    content: '\e911';
    margin-left: -3.4541015625em;
    color: rgb(25, 24, 37);
    opacity: 0.5;
}
.icon-expedia .path13:before {
    content: '\e912';
    margin-left: -3.4541015625em;
    color: rgb(25, 24, 37);
    opacity: 0.5;
}
.icon-expedia .path14:before {
    content: '\e913';
    margin-left: -3.4541015625em;
    color: rgb(255, 255, 255);
}
.icon-explore-bag:before {
    content: '\e914';
    color: #f85e9f;
}
.icon-facebook:before {
    content: '\e915';
    color: #5d50c6;
}
.icon-fluid-star:before {
    content: '\e916';
}
.icon-gabitz:before {
    content: '\e917';
}
.icon-icon_travel-point:before {
    content: '\e918';
}
.icon-image_features:before {
    content: '\e919';
}
.icon-image_hero .path1:before {
    content: '\e91a';
    color: rgb(255, 87, 34);
    opacity: 0.1;
}
.icon-image_hero .path2:before {
    content: '\e91b';
    margin-left: -0.9609375em;
    color: rgb(255, 87, 34);
}
.icon-image_hero .path3:before {
    content: '\e91c';
    margin-left: -0.9609375em;
    color: rgb(255, 255, 255);
}
.icon-image_hero .path4:before {
    content: '\e91d';
    margin-left: -0.9609375em;
    color: rgb(255, 87, 34);
}
.icon-image_hero .path5:before {
    content: '\e91e';
    margin-left: -0.9609375em;
    color: rgb(255, 87, 34);
}
.icon-image_hero .path6:before {
    content: '\e91f';
    margin-left: -0.9609375em;
    color: rgb(255, 87, 34);
}
.icon-image_hero .path7:before {
    content: '\e920';
    margin-left: -0.9609375em;
    color: rgb(255, 87, 34);
}
.icon-image_hero .path8:before {
    content: '\e921';
    margin-left: -0.9609375em;
    color: rgb(255, 87, 34);
}
.icon-image_hero .path9:before {
    content: '\e922';
    margin-left: -0.9609375em;
    color: rgb(255, 87, 34);
}
.icon-image_hero .path10:before {
    content: '\e923';
    margin-left: -0.9609375em;
    color: rgb(217, 217, 217);
}
.icon-image_hero .path11:before {
    content: '\e924';
    margin-left: -0.9609375em;
    color: rgb(0, 0, 0);
}
.icon-image_hero .path12:before {
    content: '\e925';
    margin-left: -0.9609375em;
    color: rgb(217, 217, 217);
}
.icon-image_hero .path13:before {
    content: '\e926';
    margin-left: -0.9609375em;
    color: rgb(0, 0, 0);
}
.icon-image_hero .path14:before {
    content: '\e927';
    margin-left: -0.9609375em;
    color: rgb(217, 217, 217);
}
.icon-image_hero .path15:before {
    content: '\e928';
    margin-left: -0.9609375em;
    color: rgb(0, 0, 0);
}
.icon-image_hero .path16:before {
    content: '\e929';
    margin-left: -0.9609375em;
    color: rgb(248, 94, 159);
}
.icon-image_hero .path17:before {
    content: '\e92a';
    margin-left: -0.9609375em;
    color: rgb(255, 255, 255);
}
.icon-image_hero .path18:before {
    content: '\e92b';
    margin-left: -0.9609375em;
    color: rgb(255, 87, 34);
}
.icon-image_hero .path19:before {
    content: '\e92c';
    margin-left: -0.9609375em;
    color: rgb(255, 255, 255);
}
.icon-image_hero .path20:before {
    content: '\e92d';
    margin-left: -0.9609375em;
    color: rgb(255, 255, 255);
}
.icon-image_hero .path21:before {
    content: '\e92e';
    margin-left: -0.9609375em;
    color: rgb(250, 205, 73);
}
.icon-image_hero .path22:before {
    content: '\e92f';
    margin-left: -0.9609375em;
    color: rgb(57, 62, 70);
}
.icon-image_travel-point:before {
    content: '\e930';
}
.icon-instagram:before {
    content: '\e931';
    color: #fff;
}
.icon-larr:before {
    content: '\e932';
}
.icon-location:before {
    content: '\e933';
    color: #fff;
}
.icon-logo:before {
    content: '\e934';
}
.icon-menu:before {
    content: '\e935';
    color: #5d50c6;
}
.icon-newsletter-bg:before {
    content: '\e936';
}
.icon-play-button:before {
    content: '\e937';
    color: #5d50c6;
}
.icon-rarr:before {
    content: '\e938';
    color: #fff;
}
.icon-rectangle-pattern:before {
    content: '\e939';
    color: #ff5722;
}
.icon-star:before {
    content: '\e93a';
    color: #facd49;
}
.icon-ticket:before {
    content: '\e93b';
    color: #fff;
}
.icon-triangle-pattern:before {
    content: '\e93c';
    color: #ff5722;
}
.icon-tripadvisor .path1:before {
    content: '\e93d';
    color: rgb(255, 255, 255);
}
.icon-tripadvisor .path2:before {
    content: '\e93e';
    margin-left: -6.423828125em;
    color: rgb(255, 255, 255);
}
.icon-tripadvisor .path3:before {
    content: '\e93f';
    margin-left: -6.423828125em;
    color: rgb(25, 24, 37);
    opacity: 0.5;
}
.icon-tripadvisor .path4:before {
    content: '\e940';
    margin-left: -6.423828125em;
    color: rgb(25, 24, 37);
    opacity: 0.5;
}
.icon-tripadvisor .path5:before {
    content: '\e941';
    margin-left: -6.423828125em;
    color: rgb(25, 24, 37);
    opacity: 0.5;
}
.icon-tripadvisor .path6:before {
    content: '\e942';
    margin-left: -6.423828125em;
    color: rgb(25, 24, 37);
    opacity: 0.5;
}
.icon-tripadvisor .path7:before {
    content: '\e943';
    margin-left: -6.423828125em;
    color: rgb(255, 255, 255);
}
.icon-tripadvisor .path8:before {
    content: '\e944';
    margin-left: -6.423828125em;
    color: rgb(25, 24, 37);
    opacity: 0.5;
}
.icon-tripadvisor .path9:before {
    content: '\e945';
    margin-left: -6.423828125em;
    color: rgb(25, 24, 37);
    opacity: 0.5;
}
.icon-tripadvisor .path10:before {
    content: '\e946';
    margin-left: -6.423828125em;
    color: rgb(25, 24, 37);
    opacity: 0.5;
}
.icon-tripadvisor .path11:before {
    content: '\e947';
    margin-left: -6.423828125em;
    color: rgb(25, 24, 37);
    opacity: 0.5;
}
.icon-tripadvisor .path12:before {
    content: '\e948';
    margin-left: -6.423828125em;
    color: rgb(25, 24, 37);
    opacity: 0.5;
}
.icon-tripadvisor .path13:before {
    content: '\e949';
    margin-left: -6.423828125em;
    color: rgb(25, 24, 37);
    opacity: 0.5;
}
.icon-tripadvisor .path14:before {
    content: '\e94a';
    margin-left: -6.423828125em;
    color: rgb(25, 24, 37);
    opacity: 0.5;
}
.icon-tripadvisor .path15:before {
    content: '\e94b';
    margin-left: -6.423828125em;
    color: rgb(25, 24, 37);
    opacity: 0.5;
}
.icon-tripadvisor .path16:before {
    content: '\e94c';
    margin-left: -6.423828125em;
    color: rgb(25, 24, 37);
    opacity: 0.5;
}
.icon-tripadvisor .path17:before {
    content: '\e94d';
    margin-left: -6.423828125em;
    color: rgb(25, 24, 37);
    opacity: 0.5;
}
.icon-tripadvisor .path18:before {
    content: '\e94e';
    margin-left: -6.423828125em;
    color: rgb(25, 24, 37);
    opacity: 0.5;
}
.icon-tripadvisor .path19:before {
    content: '\e94f';
    margin-left: -6.423828125em;
    color: rgb(25, 24, 37);
    opacity: 0.5;
}
.icon-tripadvisor .path20:before {
    content: '\e950';
    margin-left: -6.423828125em;
    color: rgb(25, 24, 37);
    opacity: 0.5;
}
.icon-twitter:before {
    content: '\e951';
    color: #f1f2f2;
}
