@use '../abstracts/variables';
@use '../abstracts/mixins';

.btn {
    font-size: variables.$font-size-sm;
    font-weight: variables.$font-weight-lg;

    &--link {
        display: inline-block;
        color: variables.$color-grey-2;
        transition: color variables.$duration-sm;
        outline: none;

        &:hover,
        &:focus,
        &:active {
            color: variables.$color-dark;

            @include mixins.media('lg') {
                border-bottom: none;
            }
        }
    }

    &--link-primary {
        color: variables.$color-primary;
        margin-bottom: 1rem;
        display: inline-block;

        &:hover,
        &:focus {
            color: variables.$color-primary-dark;
        }
    }

    &--text {
        color: variables.$color-dark;
        transition: color variables.$duration-sm;
        padding: 1.6rem 3.2rem;
        outline: none;

        &:hover,
        &:focus {
            color: variables.$color-primary;
            outline: 1px solid variables.$color-primary;
            border-radius: 100px;
        }
    }

    &--primary {
        padding: 2.4rem 3.2rem;
        border-radius: 100px;
        background-color: variables.$color-primary;
        color: variables.$color-light;
        text-align: center;
        letter-spacing: 0.5px;

        @include mixins.media('md') {
            padding: 1.66rem 3.33rem;
            transition: transform variables.$duration-sm;
            outline: none;
            letter-spacing: 0;

            &:hover,
            &:focus {
                transform: scale(1.05);
            }
        }

        @include mixins.media('lg') {
            padding: 1.66rem 3.33rem;
            transition: transform variables.$duration-sm;
            outline: none;
            letter-spacing: 0;

            &:hover,
            &:focus {
                transform: scale(1.05);
            }
        }
    }

    &--pink-text {
        padding: 1.4rem 3.2rem;
        border-radius: 10rem;
        color: variables.$color-secondary;
        @include mixins.flex(center, center);
        box-shadow: 0 3.4rem 7.5rem #00000012;

        .icon-explore-bag {
            font-size: 2.4rem;
            margin-left: 1.6rem;
        }
    }

    &--white {
        padding: 2.7rem 3.2rem 2.4rem;
        border-radius: 100px;
        outline: 1px solid variables.$color-light;
        color: variables.$color-dark;
        border-radius: 10rem;
        @include mixins.flex(center, center);
        gap: 1.2rem;
        letter-spacing: 0.5px;

        .icon-play-button {
            color: variables.$color-primary;
            font-size: 2rem;
        }
    }
}
