@use '../abstracts/variables';

.btn {
    font-size: 1.4rem;
    font-weight: 700;

    &--link {
        color: variables.$color-grey-2;
        transition: color 0.2s;
        outline: none;

        &:hover,
        &:focus {
            color: variables.$color-dark;
        }
    }

    &--text {
        color: variables.$color-dark;
        transition: transform 0.2s;
        padding: 1.6rem 3.2rem;
        outline: none;

        &:hover,
        &:focus {
            color: variables.$color-primary;
        }
    }

    &--primary {
        padding: 1.8rem 3.4rem;
        background-color: variables.$color-primary;
        color: variables.$color-light;
        border-radius: 100px;
        transition: transform 0.2s;
        outline: none;

        &:hover,
        &:focus {
            transform: scale(1.05);
        }
    }
}
