@use '../abstracts/variables';
@use '../abstracts/mixins';

.service-card {
    padding: 3.2rem;
    text-align: center;
    border-radius: variables.$border-radius-sm;
    outline: 1px solid variables.$color-grey-4;
    transition: box-shadow 0.1s;

    @include mixins.media('md') {
        padding: 6.4rem 6.6rem 3.2rem;
        flex-basis: 33.33%;
    }

    @include mixins.media('lg') {
        padding: 6.4rem 5.6rem 9.7rem;
        flex-basis: 50%;
    }

    &:hover {
        outline: none;
        box-shadow: variables.$shadow-1;
    }

    &__picture {
        height: 6.4rem;
    }

    &__img {
        height: 100%;
    }

    &__content {
        margin-top: 3.2rem;
        @include mixins.flex(space-between, stretch, column, 3.2rem);

        @include mixins.media('md') {
            margin-top: 6.4rem;
        }

        @include mixins.media('lg') {
            margin-top: 6.8rem;
        }
    }

    &:last-of-type {
        @include mixins.media('lg') {
            display: none;
        }
    }
}

.travel-point-card {
    padding: 3.6rem 0 3.7rem;
    text-align: center;
    border: 1px solid variables.$color-grey-4;
    border-radius: variables.$border-radius-sm;

    &__number {
        margin: 0;
        font-size: 3.5rem;
        font-weight: variables.$font-weight-lg;
        color: variables.$color-orange;
    }

    &__text {
        margin: 1.8rem 0 0;
        font-size: 1.8rem;
    }
}

.key-features-card {
    padding: 3.4rem;
    border-radius: variables.$border-radius-sm;

    @include mixins.media('md') {
        @include mixins.flex(flex-start, center, row, 3.2rem);
        padding: 3.2rem;
        padding-left: 3.6rem;
    }

    &:hover {
        outline: 1px solid variables.$color-grey-4;
    }

    &__img {
        box-sizing: border-box;
        width: 10rem;
        height: 10rem;
        padding: 3rem;
        border-radius: variables.$border-radius-sm;
        font-size: variables.$font-size-3lg;
        color: variables.$color-white;
        background-color: variables.$color-orange;

        &--2 {
            background-color: variables.$color-yellow;
        }

        &--3 {
            background-color: variables.$color-secondary;
        }
    }

    &__content {
        margin-top: 3.4rem;
        @include mixins.flex(flex-start, stretch, column, 0.8rem);

        @include mixins.media('md') {
            margin-top: 0;
        }

        .heading--card,
        .text--card {
            text-align: left;
        }

        .heading--card {
            font-size: variables.$font-size-2md;
            letter-spacing: 0;
        }

        .text--card {
            line-height: variables.$line-height-2md;
        }
    }
}
