@use '../abstracts/variables';
@use '../abstracts/mixins';

.service-card {
    padding: 3.2rem;
    text-align: center;
    border-radius: variables.$border-radius-sm;
    outline: 1px solid variables.$color-grey-4;
    transition: box-shadow 0.1s;

    @include mixins.media('md') {
        padding: 6.4rem 6.6rem 3.2rem;
        flex-basis: 33.33%;
    }

    @include mixins.media('lg') {
        padding: 6.4rem 5.6rem 9.7rem;
        flex-basis: 50%;
    }

    &:hover {
        outline: none;
        box-shadow: variables.$shadow-1;
    }

    &__picture {
        height: 6.4rem;
    }

    &__img {
        height: 100%;
    }

    &__content {
        margin-top: 3.2rem;
        @include mixins.flex(space-between, stretch, column, 3.2rem);

        @include mixins.media('md') {
            margin-top: 6.4rem;
        }

        @include mixins.media('lg') {
            margin-top: 6.8rem;
        }
    }

    &:last-of-type {
        @include mixins.media('lg') {
            display: none;
        }
    }
}

.travel-point-card {
    width: 100%;
    padding: 3.6rem 0 3.7rem;
    text-align: center;
    border: 1px solid variables.$color-grey-4;
    border-radius: variables.$border-radius-sm;

    @include mixins.media('md') {
        flex-basis: 47.8%;
    }

    @include mixins.media('md') {
        flex-basis: 45.98%;
    }

    &__number {
        margin: 0;
        font-size: variables.$font-size-2lgx;
        font-weight: variables.$font-weight-lg;
        color: variables.$color-orange;
    }

    &__text {
        margin: 0;
        margin-top: 1.6rem;
        font-size: variables.$font-size-md;
    }
}
