@use '../abstracts/variables';
@use '../abstracts/mixins';

.service-card {
    padding: 3.2rem;
    text-align: center;
    border-radius: variables.$border-radius-sm;
    outline: 1px solid variables.$color-grey-4;
    transition: box-shadow 0.1s;

    @include mixins.media('md') {
        padding: 6.4rem 6.6rem 3.2rem;
        flex-basis: 33.33%;
    }

    @include mixins.media('lg') {
        padding: 6.4rem 5.6rem 9.7rem;
        flex-basis: 50%;
    }

    &:hover {
        outline: none;
        box-shadow: variables.$shadow-1;
    }

    &__picture {
        height: 6.4rem;
    }

    &__img {
        height: 100%;
    }

    &__content {
        margin-top: 3.2rem;
        @include mixins.flex(space-between, stretch, column, 3.2rem);

        @include mixins.media('md') {
            margin-top: 6.4rem;
        }

        @include mixins.media('lg') {
            margin-top: 6.8rem;
        }
    }

    &:last-of-type {
        @include mixins.media('lg') {
            display: none;
        }
    }
}

.travel-point-card {
    padding: 3.6rem 0 3.7rem;
    text-align: center;
    border: 1px solid variables.$color-grey-4;
    border-radius: variables.$border-radius-sm;

    &__number {
        margin: 0;
        font-size: 3.5rem;
        font-weight: variables.$font-weight-lg;
        color: variables.$color-orange;
    }

    &__text {
        margin: 1.8rem 0 0;
        font-size: 1.8rem;
    }
}

.key-features-card {
    padding: 3.4rem;
    border-radius: variables.$border-radius-sm;

    @include mixins.media('md') {
        @include mixins.flex(flex-start, center, row, 3.2rem);
        padding: 3rem 0 3.2rem 3.6rem;
    }

    @include mixins.media('lg') {
        padding: 3.2rem 0 3.2rem 3.4rem;
    }

    &:hover {
        outline: 1px solid variables.$color-grey-4;
    }

    &__img {
        box-sizing: border-box;
        width: 10rem;
        height: 10rem;
        padding: 3rem;
        border-radius: variables.$border-radius-sm;
        font-size: 4rem;
        color: variables.$color-white;

        &--location {
            background-color: variables.$color-orange;
        }

        &--calendar {
            background-color: variables.$color-yellow;
        }

        &--coupon {
            background-color: variables.$color-secondary;
            font-size: 3.2rem;
        }
    }

    &__content {
        margin-top: 3.3rem;

        @include mixins.flex(flex-start, stretch, column, 0.8rem);

        @include mixins.media('md') {
            margin-top: 0;
        }
    }

    &__heading,
    &__text {
        text-align: left;
    }

    &__heading {
        font-size: 2.3rem;
        letter-spacing: variables.$letter-spacing-xs;

        @include mixins.media('lg') {
            letter-spacing: variables.$letter-spacing-sm;
        }
    }

    &__text {
        line-height: variables.$line-height-md;
        letter-spacing: variables.$letter-spacing-sm;
    }
}

.testimonials-card {
    text-align: center;

    &[aria-hidden='true'] {
    }

    &__picture {
        padding: 6.2rem 13.5rem;

        @include mixins.media('md') {
            padding: 5.4rem 13.5rem;
        }
    }

    &__img {
        width: 12.8rem;
        height: 12.8rem;
    }

    &__title {
        font-size: variables.$font-size-lg;
        margin-top: 0.4rem;

        &--name {
            color: variables.$color-orange;
        }

        &--role {
            font-size: variables.$font-size-2md;
            color: variables.$color-grey;
        }
    }

    &__rating {
        @include mixins.flex(center, stretch, row, 1.8rem);
    }

    &__star {
        font-size: 2.8rem;
        color: variables.$color-yellow;
    }

    &__text {
        font-size: 1.8rem;
        color: variables.$color-grey;
        margin-top: 6.4rem;
        letter-spacing: variables.$letter-spacing-xxs;
        text-align: center;

        @include mixins.media('md') {
            margin-top: 5.8rem;
            font-size: 2.3rem;
            padding: 0 20rem;
        }
    }
}
