@use '../abstracts/variables';
@use '../abstracts/mixins';

.logo {
    line-height: 0;
    @include mixins.media('md') {
        order: 1;
        margin-left: 17.5rem;
    }

    @include mixins.media('sm') {
        order: 0;
        margin-left: 0;
    }

    &__link {
        font-size: variables.$font-size-xl;
    }

    &__img {
        // Applying gradient to logo
        background-image: variables.$gradient-logo;
        background-clip: text;
        color: transparent;
    }
}
