@use '../abstracts' as variables;

html {
    font-size: 62.5%;
}

body {
    font-family: variables.$font-family-primary;
}

// TODO: CS-A1-01: For testing purposes only. It will be removed later.
.test {
    font-size: 8rem;
    font-weight: variables.$font-weight-lg;
}
