@use '../abstracts/variables';
@use '../abstracts/mixins';

html {
    font-size: 62.5%;
    scroll-behavior: smooth; // for smooth scrolling
}

h1 {
    margin: 0;
}

body {
    font-family: variables.$font-family-primary;
}

button,
a {
    display: inline-block;
    text-decoration: none;
    cursor: pointer;
}

ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}
