@use '../abstracts/variables';
@use '../abstracts/mixins';

.heading {
    font-weight: variables.$font-weight-lg;
    line-height: variables.$line-height-sm;
    margin: 0;

    &--main {
        font-size: 4rem;
        text-align: center;
        margin-top: 1.6rem;
        padding: 0 2rem;
        letter-spacing: variables.$letter-spacing-md;

        @include mixins.media('md') {
            font-size: 5.6rem;
            padding: 0 9rem 0 8rem;
            margin: 0;
        }

        @include mixins.media('lg') {
            margin-top: 0.5rem;
            font-size: 6.9rem;
            padding: 0;
            text-align: left;
            letter-spacing: variables.$letter-spacing-lg;
        }
    }

    &__decoration {
        color: variables.$color-secondary;
    }

    &--sub {
        font-size: 1.6rem;
        text-transform: uppercase;
        letter-spacing: variables.$letter-spacing-xl;
        color: variables.$color-secondary;
        text-align: center;

        @include mixins.media('md') {
            font-size: 2.3rem;
            letter-spacing: variables.$letter-spacing-xxl;
        }

        @include mixins.media('lg') {
            text-align: left;
        }
    }

    &--card {
        font-size: 2.4rem;
        letter-spacing: variables.$letter-spacing-md;

        @include mixins.media('md') {
            font-size: 2.8rem;
        }
    }
}

.text {
    font-weight: variables.$font-weight-md;
    line-height: variables.$line-height-lg;
    margin: 0;
    color: variables.$color-grey-2;

    &--light {
        font-size: 1.6rem;
        text-align: center;
        margin-top: 2.4rem;
        letter-spacing: variables.$letter-spacing-sm;

        @include mixins.media('md') {
            margin: 0;
            font-size: 1.8rem;
            padding: 0 17rem;
        }

        @include mixins.media('lg') {
            text-align: left;
            padding: 0;
            letter-spacing: variables.$letter-spacing-md;
        }
    }

    &--medium {
        margin-top: 3.6rem;
        padding: 0 1rem;
        letter-spacing: variables.$letter-spacing-xs;
        line-height: variables.$line-height-md;

        @include mixins.media('md') {
            padding: 0 3rem;
            letter-spacing: variables.$letter-spacing-sm;
        }

        @include mixins.media('lg') {
            position: relative;
            z-index: variables.$z-100;
            margin-top: 3rem;
            padding: 0;
            letter-spacing: variables.$letter-spacing-xs;
        }
    }

    &--large {
        font-size: 3.2rem;
        font-weight: variables.$font-weight-lg;
        color: variables.$color-dark;
        line-height: 111%;
        letter-spacing: variables.$letter-spacing-sm;
        margin-top: 2rem;
        text-align: center;

        @include mixins.media('md') {
            font-size: 4rem;
        }

        @include mixins.media('lg') {
            font-size: 4.4rem;
            letter-spacing: variables.$letter-spacing-md;
            line-height: variables.$line-height-sm;
            text-align: left;
        }
    }

    &--card {
        text-align: center;
        font-size: 1.8rem;
        margin: 0;
        padding: 0;
    }
}
